doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Register Confirmation
div(style='display: block; max-width: 580px; padding: 0 20px; margin: auto')
    div(style='margin: 24px 0')
        h1(style='text-align: center; color: #2c40b7; font-family: Arial') Belanjaku.id
    .content
        p Hallo, Belanjers
        h3
            strong Yuk Mulai Aktifasi Akun Belanjaku
        p
            | Sedikit lagi akunmu akan aktif. Cukup masukkan kode verifikasi di bawah untuk mengaktifkan
            | akunmu.
        div(style='\
        border: 1px solid #d2d2d2;\
        padding: 12px;\
        width: 125px;\
        margin: 20px auto;\
        text-align: center;\
        font-size: 24px;\
        font-weight: bold;\
        border-radius: 8px;\
        letter-spacing: 3px;\
        ')
            span #{otp}
        p
            | Kode di atas hanya berlaku 30 menit. Mohon jangan sebarkan kode ini ke siapapun, termasuk
            | pihak yang mengatasnamakan Belanjaku.id Kamu juga bisa aktivasi langsung dengan mengklik
            | tombol di bawah.
        a(href=`${ctaLink}` style='\
        display: block;\
        padding: 14px;\
        text-align: center;\
        margin: 30px 0;\
        background: #4487ff;\
        color: #fff;\
        font-weight: bold;\
        font-size: 20px;\
        border-radius: 5px;\
        cursor: pointer;\
        text-decoration: none;\
        ' target='__blank')
            | Aktifkan Sekarang
        p
            | Biar akunmu semakin aman, jangan lupa baca panduan keamanan kami 
            a(href='http://localhost:3006' target='__blank' style='color: #4487ff; text-decoration: none') di sini.
        p(style='font-size: 14px')
            | E-mail ini dibuat otomatis, mohon tidak membalas. Jika butuh bantuan, silakan 
            a(href='http://localhost:3006' target='__blank' style='color: #4487ff; text-decoration: none')
                | hubungi Belanjaku Care.
    div
        div(style='font-family: sans-serif; text-align: center; padding: 10px 0; font-size: 20px')
            | Temukan Kami
        div(style='font-family: sans-serif; text-align: center; padding: 10px 0')
            a(href='https://instagram.com' target='__blank')
                img(src='https://img.icons8.com/fluent/48/000000/instagram-new.png')
            a(href='https://youtube.com' target='__blank')
                img(src='https://img.icons8.com/cotton/48/000000/youtube.png')
            a(href='https://twitter.com' target='__blank')
                img(src='https://img.icons8.com/fluent/48/000000/twitter.png')
        div(style='\
        font-family: sans-serif;\
        text-align: center;\
        padding: 10px 0;\
        font-size: 18px;\
        border-top: 1px solid #bfbfbf;\
        margin-top: 12px;\
        ')
            | &copy; 2020 Belanjaku.id
